/* палітра */
/* колір основного тексту #212121 */
/* другорядний колір тексту #757575 */
/* акцент #2196F3 */
/* білий  #FFFFFF */
/* основний фоновий колір #F5F5F5 */
/* другорядний фоновий колір #F5F4FA */
/* колір для лого #000000 */
/* фоновий колір для шапки та футера #2F303A */

/* CSS змінні */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f5f5;
  --team-bg-color: #f5f4fa;
  --btn-bg-color: #f5f4fa;
  --logo-color: #000000;
  --secondary-bg-color: #2f303a;
  --contacts-main-color: rgba(255, 255, 255, 0.6);
}

/* --------------------ЗАГАЛЬНІ СТИЛІ-------------------- */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: 'roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

.section .link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn {
  background-color: var(--btn-bg-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
}

.title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* --------------------ВЕРХНЯ ЛІНІЯ-------------------- */
.page-header {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  background-color: #ccc;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent {
  color: var(--accent-color);
}

/*--------------------НАВІГАЦІЯ САЙТУ--------------------  */
.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 95px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.feedback-nav {
  display: flex;
  margin-left: auto;
}

.feedback-nav .item:not(:last-child) {
  margin-right: 50px;
}

/*--------------------ЗВОРОТНІЙ ЗВ'ЯЗОК--------------------  */
.e-mail,
.phone {
  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
}
.e-mail:hover,
.phone:hover,
.e-mail:focus,
.phone:focus {
  color: var(--accent-color);
}

/*--------------------ШАПКА--------------------  */
.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-text-color);
  background-color: var(--btn-bg-color);
}

/*--------------------НАШІ ПЕРЕВАГИ--------------------  */
.benefits {
  background-color: var(--secondary-white-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.benefits-item {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-text {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

/*--------------------ЧИМ МИ ЗАЙМАЄМОСЯ?--------------------  */
.work {
  background-color: var(secondary-white-color);
}

/*--------------------НАША КОМАНДА--------------------  */
.team {
  background-color: var(--team-bg-color);
}

.team-member {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*--------------------ПІДВАЛ--------------------  */
.footer {
  background-color: var(--secondary-bg-color);
}
.footer > .footer-logo {
  color: var(--primary-white-color);
}

/*--------------------КОНТАКТИ--------------------  */
.contacts {
  font-style: normal;
}

.contacts-address {
  color: var(--primary-white-color);
  line-height: 1.71;
}

.contacts-item {
  color: var(--contacts-main-color);
  line-height: 1.71;
}

.contacts-address:hover,
.contacts-item:hover,
.contacts-address:focus,
.contacts-item:focus {
  color: var(--accent-color);
}

/*--------------------ПОРТФОЛІО--------------------  */
.btn.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.examples-btn {
  font-weight: 500;
  letter-spacing: 0.03em;
}

.examples-btn:hover,
.examples-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.examples-text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.88;
}
